/* Internote CSS 
/* Styles correspond to js classes for hiding and showing notes.
/* right and left are the fallback selectors if CSS transform is not available. */

.internote {
    font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    /*cadged from HTML5 boilerplate's visually hidden class*/
    position: absolute;
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    padding: 0; 
    border: 0; 
    height: 0;
    /*moves out of the way*/
     right: -100%;
}

/* moves note into view, without transform */
.internote.active {
    right: 0;
}

/* undoes two key selectors in keeping something vidsually hidden */
.internote.active, .internote.visible {
    position: static;
    height: auto;
}

/* sets the stage for a transform */
.csstransforms3d.csstransitions .internote {
    right: 0; 
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: -moz-transform 300ms ease-in-out;
    -o-transition: -o-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	}

/* moves note into view, with transform */
.csstransforms3d.csstransitions.note-on .internote.active{
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: -moz-transform 300ms ease-in-out;
    -o-transition: -o-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
}
