/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

/* ===================
    Reset
   =================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    margin: 0;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

ul {
    list-style: none;
}


/* ===================
    Structure
   =================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

* {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

header {
    width: 100%;
    height: 40px;
    background: #333;
    position: fixed;
    top: 0;
    z-index: 5000;
}

header .wrap {
    margin: 0 auto;
    display: block;   
    max-width: 520px;
}

header .a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 5px 12px 3px 12px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    margin: 5px;
    text-decoration: none;
    font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

h1, h2, h3 {
    font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    margin-bottom: -10px;
    font-size: 50px;
    line-height: 1;
}

h2 {
    font-size: 32px;
    line-height: 1.2;
    padding-top: 25px;
    margin-bottom: 4px;
}


.subtitle {
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: normal;
    font-weight: 400;
    font-style: italic;
    color: #333332;
    margin: 20px 0;
    line-height: 1.2;
}
.wrapper {
   max-width: 700px;
   margin: 0 auto;
}


.text {
    width: 640px;
    margin: 0 auto;
    position: relative;
}

p {
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.45;
    -webkit-backface-visibility: hidden; /* applied to parent as well, to stop iPad flickering*/
}

.fn {
        vertical-align: super;
        display: inline-block;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        position: relative;
        padding: 0 8px 3px 8px;
        background-color: #dededc;
        color: #fff;
        text-align: center;
        text-decoration: none;
        -webkit-transition: color .1s;
        -moz-transition: color .1s;
        -ms-transition: color .1s;
        -o-transition: color .1s;
        transition: color .1s;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000

}

/*to achieve under-comment wedge effect, transform needs to be available*/
.csstransforms .fn:after {
    content: " ";
    display: inline;
    position: absolute;
    bottom: -3px;
    right: .3em;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-right-width: 4px;
    border-top: 2px solid #dededc;
    border-left: 4px solid #dededc;
    -webkit-transform: rotate(0.05deg);
    -moz-transform: scale(1.1);
    transform: rotate(0.05deg);
}



.fn.active-note { background-color: rgb(51, 147, 192); }

.fn.active-note:after {
    border-top: 2px solid rgb(51, 147, 192);
    border-left: 4px solid rgb(51, 147, 192);
}

/*otherwise iPads will hover on anything*/
.no-touch .fn:hover {
    background-color: rgb(51, 147, 192);
}

.csstransforms.no-touch .fn:hover:after {
    border-top: 2px solid rgb(51, 147, 192);
    border-left: 4px solid rgb(51, 147, 192);
}


.dir {
    font-style: italic;
}

/* ==============
    MOBILE: Main
   ============== */

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 520px) {
    h1, h2 {
        font-size: 32px;
        line-height: 1.1;
    }   

    .wrapper {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 30px;
    }

    p {
        font-size: 18px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

